#culture {
  .info_img {
    text-align: center;
    img {
      width: 450px;
      height: 600px;
    }
  }
  .info_details {
    // margin-top: 100px;
    .heading {
      padding-right: 50px;
    }
    .desc {
      padding-right: 100px;
    }
  }
}
